In [26]:
######### 获取市场快照数据
from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)
ret, data = quote_ctx.get_market_snapshot('HK.00700')
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
display(data)

2020-08-18 18:46:06,853 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 18:46:06,855 [open_context_base.py] on_connected:344: Connected : conn_id=26;
2020-08-18 18:46:06,857 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=26; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701635304079441627, 'conn_key': '14E9908C519128B4', 'conn_iv': 'BC61AB181B5D925D', 'keep_alive_interval': 10, 'is_encrypt': False};

,code,update_time,last_price,open_price,high_price,low_price,prev_close_price,volume,turnover,turnover_rate,...,pre_turnover,pre_change_val,pre_change_rate,pre_amplitude,after_price,after_high_price,after_low_price,after_change_val,after_change_rate,after_amplitude
0,HK.00700,2020-08-18 16:08:03,512.0,515.0,516.5,509.0,504.5,13387278,6.858288e+09,0.14,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A

2020-08-18 18:46:07,081 [network_manager.py] work:366: Close: conn_id=26

In [17]:
######## 获取股票基本信息

from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)
ret, data = quote_ctx.get_stock_basicinfo(Market.HK, SecurityType.STOCK)
  
df = pd.DataFrame(data)
df.head()

2020-08-14 22:53:00,628 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-14 22:53:00,630 [open_context_base.py] on_connected:344: Connected : conn_id=15;
2020-08-14 22:53:00,632 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=15; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6700247886092238657, 'conn_key': 'F42FEDD8499144E9', 'conn_iv': '9A0046E4E69CC55B', 'keep_alive_interval': 10, 'is_encrypt': False};

,code,name,lot_size,stock_type,stock_child_type,stock_owner,option_type,strike_time,strike_price,suspension,listing_date,stock_id,delisting,index_option_type,main_contract,last_trade_time
0,HK.00001,长和,500,STOCK,N/A,,,,N/A,N/A,2015-03-18,4440996184065,False,N/A,False,
1,HK.00002,中电控股,500,STOCK,N/A,,,,N/A,N/A,1970-01-01,2,False,N/A,False,
2,HK.00003,香港中华煤气,1000,STOCK,N/A,,,,N/A,N/A,1970-01-01,3,False,N/A,False,
3,HK.00004,九龙仓集团,1000,STOCK,N/A,,,,N/A,N/A,1970-01-01,4,False,N/A,False,
4,HK.00005,汇丰控股,400,STOCK,N/A,,,,N/A,N/A,1970-01-01,5,False,N/A,False,

In [27]:
######## 获取特定板块股票基本数据

from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)

ret, data = quote_ctx.get_plate_stock('HK.BK1001')
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head()

2020-08-18 18:48:50,143 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 18:48:50,145 [open_context_base.py] on_connected:344: Connected : conn_id=27;
2020-08-18 18:48:50,147 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=27; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701635988968364968, 'conn_key': '2A128A8D51919088', 'conn_iv': 'CDD00FE4315DC204', 'keep_alive_interval': 10, 'is_encrypt': False};
2020-08-18 18:48:50,362 [network_manager.py] work:366: Close: conn_id=27

,code,lot_size,stock_name,stock_owner,stock_child_type,stock_type,list_time,stock_id,main_contract,last_trade_time
0,HK.00462,4000,天然乳品,NaN,NaN,STOCK,2005-06-10,55589761712590,False,
1,HK.01117,1000,现代牧业,NaN,NaN,STOCK,2010-11-26,64158221468765,False,
2,HK.01230,1000,雅士利国际,NaN,NaN,STOCK,2010-11-01,64050847286478,False,
3,HK.01431,1000,原生态牧业,NaN,NaN,STOCK,2013-11-26,68865505625495,False,
4,HK.01432,1000,中国圣牧,NaN,NaN,STOCK,2014-07-15,69857643070872,False,

In [28]:
######## 获取板块信息
from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)

ret, data = quote_ctx.get_plate_list(Market.HK, Plate.INDUSTRY)
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head()

2020-08-18 18:49:16,699 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 18:49:16,701 [open_context_base.py] on_connected:344: Connected : conn_id=28;
2020-08-18 18:49:16,702 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=28; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701636100351120330, 'conn_key': 'A697B28D51919C1A', 'conn_iv': '7C2925DC365DC2FD', 'keep_alive_interval': 10, 'is_encrypt': False};
2020-08-18 18:49:16,915 [network_manager.py] work:366: Close: conn_id=28

        code plate_name plate_id
0  HK.BK1001        乳制品   BK1001
1  HK.BK1002   采购及供应链管理   BK1002
2  HK.BK1003         保险   BK1003
3  HK.BK1004         信贷   BK1004
4  HK.BK1005       公共运输   BK1005

In [29]:
######## 获取指定股票所属板块信息

from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)

code_list = ['HK.00001']
ret, data = quote_ctx.get_owner_plate(code_list)
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head()

2020-08-18 18:49:40,943 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 18:49:40,945 [open_context_base.py] on_connected:344: Connected : conn_id=29;
2020-08-18 18:49:40,946 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=29; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701636202038490320, 'conn_key': 'C495D78D519154C8', 'conn_iv': '7C66BEAA3A5DB214', 'keep_alive_interval': 10, 'is_encrypt': False};

       code          plate_code plate_name plate_type
0  HK.00001  HK.HSI Constituent      恒指成份股      OTHER
1  HK.00001       HK.GangGuTong     港股通(沪)      OTHER
2  HK.00001           HK.BK1000      做空集合股    CONCEPT
3  HK.00001           HK.BK1061       综合企业   INDUSTRY
4  HK.00001           HK.BK1107        蓝筹股      OTHER

2020-08-18 18:49:41,156 [network_manager.py] work:366: Close: conn_id=29

In [30]:
####### 获取特定股票大股东持股情况

from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)

ret, data = quote_ctx.get_holding_change_list('US.AAPL', StockHolder.INSTITUTE, '2018-10-01')
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head()

2020-08-18 18:50:12,010 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 18:50:12,012 [open_context_base.py] on_connected:344: Connected : conn_id=30;
2020-08-18 18:50:12,014 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=30; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701636332340586461, 'conn_key': '73FD068E51911827', 'conn_iv': 'F0621AC23F5D2271', 'keep_alive_interval': 10, 'is_encrypt': False};
2020-08-18 18:50:12,271 [network_manager.py] work:366: Close: conn_id=30

,holder_name,holding_qty,holding_ratio,change_qty,change_ratio,time
0,"The Vanguard Group, Inc.",331132509.0,7.4525,-3981157.0,-1.19,2019-09-30 00:00:00
1,Berkshire Hathaway Inc.,248838679.0,5.6004,-750650.0,-0.30,2019-09-30 00:00:00
2,"BlackRock Institutional Trust Company, N.A.",191322355.0,4.3059,-1857097.0,-0.96,2019-09-30 00:00:00
3,State Street Global Advisors (US),184232445.0,4.1463,-2852971.0,-1.52,2019-09-30 00:00:00
4,Fidelity Management & Research Company,93697202.0,2.1087,-715479.0,-0.76,2019-09-30 00:00:00

In [48]:
######## 指定股票资金流入

from futu import *
import pandas as pd
quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)
ret, data = quote_ctx.get_capital_flow("HK.00700")
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head(100)

2020-08-18 19:04:44,843 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 19:04:44,844 [open_context_base.py] on_connected:344: Connected : conn_id=47;
2020-08-18 19:04:44,846 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=47; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701639993263940241, 'conn_key': '7ED33A93519154B4', 'conn_iv': 'A535A3FFC35DC25B', 'keep_alive_interval': 10, 'is_encrypt': False};
2020-08-18 19:04:45,070 [network_manager.py] work:366: Close: conn_id=47

        last_valid_time      in_flow capital_flow_item_time
0   2020-08-18 16:00:00   12214050.0    2020-08-18 09:30:00
1   2020-08-18 16:00:00   43849650.0    2020-08-18 09:31:00
2   2020-08-18 16:00:00   84666400.0    2020-08-18 09:32:00
3   2020-08-18 16:00:00   92372750.0    2020-08-18 09:33:00
4   2020-08-18 16:00:00   66721150.0    2020-08-18 09:34:00
..                  ...          ...                    ...
95  2020-08-18 16:00:00  203917750.0    2020-08-18 11:05:00
96  2020-08-18 16:00:00  213483550.0    2020-08-18 11:06:00
97  2020-08-18 16:00:00  215942300.0    2020-08-18 11:07:00
98  2020-08-18 16:00:00  216301300.0    2020-08-18 11:08:00
99  2020-08-18 16:00:00  216404500.0    2020-08-18 11:09:00

[100 rows x 3 columns]

In [50]:
######## 获取个股资金分布

from futu import *
import pandas as pd

quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)
ret, data = quote_ctx.get_capital_distribution("HK.00700")
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head(100)

2020-08-18 19:11:46,413 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 19:11:46,414 [open_context_base.py] on_connected:344: Connected : conn_id=49;
2020-08-18 19:11:46,416 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=49; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701641761458579011, 'conn_key': '1E17BE955191A877', 'conn_iv': '8EBD58F2FD5D025D', 'keep_alive_interval': 10, 'is_encrypt': False};
2020-08-18 19:11:46,627 [network_manager.py] work:366: Close: conn_id=49

,capital_in_big,capital_in_mid,capital_in_small,capital_out_big,capital_out_mid,capital_out_small,update_time
0,868332750.0,1.256485e+09,796813150.0,697231850.0,1.069626e+09,603419050.0,2020-08-18 15:59:59

In [53]:
######## 获取自选股
from futu import *
import pandas as pd

quote_ctx = OpenQuoteContext(host='127.0.0.1', port=11111)
ret, data = quote_ctx.get_user_security("RH")
quote_ctx.close() # 结束后记得关闭当条连接，防止连接条数用尽
df = pd.DataFrame(data)
df.head(100)

2020-08-18 19:32:15,716 [open_context_base.py] _socket_reconnect_and_wait_ready:255: Start connecting: host=127.0.0.1; port=11111;
2020-08-18 19:32:15,718 [open_context_base.py] on_connected:344: Connected : conn_id=52;
2020-08-18 19:32:15,720 [open_context_base.py] _handle_init_connect:445: InitConnect ok: conn_id=52; info={'server_version': 215, 'login_user_id': 15468041, 'conn_id': 6701646917534199275, 'conn_key': 'F3DB119D5191F8D0', 'conn_iv': '573B62B4A15E226E', 'keep_alive_interval': 10, 'is_encrypt': False};
2020-08-18 19:32:15,959 [network_manager.py] work:366: Close: conn_id=52

,code,name,lot_size,stock_type,stock_child_type,stock_owner,option_type,strike_time,strike_price,suspension,listing_date,stock_id,delisting,main_contract,last_trade_time
0,US.BILI,哔哩哔哩,1,STOCK,N/A,,,,N/A,N/A,2018-03-28,75630079330475,False,False,
1,HK.03347,泰格医药,100,STOCK,N/A,,,,N/A,N/A,2020-08-07,79328045960467,False,False,
2,US.FSLY,FASTLY INC,1,STOCK,N/A,,,,N/A,N/A,1970-01-01,77395310890444,False,False,
3,US.TSLA,特斯拉,1,STOCK,N/A,,,,N/A,N/A,2010-06-29,201335,False,False,
4,US.SE,Sea Limited,1,STOCK,N/A,,,,N/A,N/A,2017-10-20,74968654356875,False,False,
5,US.TDOC,"Teladoc Health, Inc.",1,STOCK,N/A,,,,N/A,N/A,2015-07-01,71365176801471,False,False,
6,US.SDGR,Schrodinger,1,STOCK,N/A,,,,N/A,N/A,2020-02-06,78546362127099,False,False,
7,US.FUTU,富途控股,1,STOCK,N/A,,,,N/A,N/A,2019-03-08,78103980495165,False,False,
8,US.GAN,GAN Ltd,1,STOCK,N/A,,,,N/A,N/A,2020-05-05,78937204151281,False,False,